#qna {
  display: none;
}

.qBox {
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  width: 80%;
}

.answerList {
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
}

/* 커서가 요소 위에 올라가 있거나 선택했을때 */
.answerList:hover, .answerList:focus {
  background-color: palevioletred;
  color: whitesmoke;
}